html {
	font-family: "Interstate";
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	align-content: stretch;
	margin: 0;
	padding: 0;
	height: 100%;
    overflow: hidden;
}

header {
	/* height: 10vh; */
	align-items: center;
	justify-content: center;
	display: flex;
	flex: 1 10 auto;
}

#scoreCols {
	display: flex;
	flex: 10 1 auto;
	justify-content: space-evenly;
    overflow: auto;
}

footer {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex: 1 10 auto;
}

footer > button {
	font-size: 300%;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
}

button:disabled {
	opacity: 0.3;
}

h1,
h2,
h3,
h4 {
	text-align: center;
	margin: 0px;
}

article {
	padding: 10px 10px;
	margin: 0;
	background: lightsalmon;
	min-width: 8em;
	width: 40vw;
	max-width: 15em;
	display: flex;
	flex-direction: column;
}

article > div {
	padding: 0px 15px;
	overflow: auto;
}

span {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	font-size: small;
}

span > p {
	margin: 0;
	padding: 0;
    font-size: medium;
}
